#about,
#services,
#contact{
    margin: 0 auto;
    padding: 2.5rem 0;
}

#about{
    background-color: $mint;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem 0 4rem 0;
    #headshot-container{
        width: 15rem;
        margin: 4rem auto;
        img{
            border-radius: 90%;
            width: 100%;
        }
    }
}


#services{
    background-color: $white;
    text-align: center;
    color: $icons;
    #service-list{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        list-style-type: none;
        // border: 1px solid black;
        padding: 0;
        .service-item{
            width: calc(100% / 3);
            .icon-container{
                font-size: 3.5rem;
            }
        }
    }
}


#contact{
    background-color: $contact;
    text-align: center;
    #contact-list{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
        .icon-container{
            font-size: 3.5rem;
        }
    }
}