
#header{
    background-color: $dark-green;
    border: 0.01px solid $dark-green;
    height: 85vh;

    #hamburger-menu{
        display: none;
        margin: 0 auto;
        cursor: pointer;
        padding-top: 2rem;
    }

    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 2rem;
        li{
            color: $white;
            list-style-type: none;
            transition-duration: .2s;
        }:hover{
            transform: scale(1.25);
            transition-duration: .2s;
        }
    }
    #name-title{
        padding: 5rem 0;
        margin: 0 0 10rem 0;
        text-align: center;
        h1{
            padding-top: 2rem 0 0 0;
        }
        h3{
            margin: -4rem 0 3rem 0;
        }
    }

    #skip-link-container{
        transition-duration: .2s;
        #skip-link{
            color: $white;
            transition-duration: .2s;
            scroll-behavior: smooth;
            i{
                transition-duration: .2s;
                &:hover,
                &:focus,
                &:active{
                    transform: scale(1.5);
                    transition-duration: .5s;
                }
            }
        }
    }
}