// h1
@media (max-width: 955px){
    #header{
        #name-title{
            margin: 0 0 7.5rem 0;
        }
    }
}

// service icons
@media (max-width: 900px){
    #services{
        // background-color: yellow;
        #service-list{
            // border: 1px solid green;
            .service-item{
                width: calc(100% / 2);
            }
        }
    }
}


// 2nd nav, h1, service icons, contact icons
@media (max-width: 600px){

    #header{
        nav{
            display: none;
        }

        #hamburger-menu{
            display: block;
        }

        #name-title{
            margin: 0 0 9rem 0;
            h1{
                font-size: 4.75rem;
                margin-bottom: 4rem;
            }
        }
    }

    #services{
        #service-list{
            flex-direction: column;
            .service-item{
                width: 100%;
            }
        }
    }

    #contact{
        #contact-list{
            flex-direction: column;
        }
    }
}

// h1
@media (max-width: 450px){
    #header{
        #name-title{
            h1{
                font-size: 4rem;
                margin-bottom: 4rem;
            }
        }
    }
}

// h1
@media (max-width: 380px){
    #header{
        #name-title{
            h1{
                font-size: 3.25rem;
                margin-bottom: 4.5rem;
            }
        }
    }
}


// skip link handling tablet heights (1080px, 1100px)
@media(max-height: 1110px){
    #header{ 
        // background-color: blue;

        #name-title{
            margin: 0 0 6rem 0;
        }
    }
}