html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
li,
a,
p,
i {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-size: 3.5rem;
}

#header nav {
  color: #FFFFFF;
}
#header nav li {
  font-size: 1.25rem;
}
#header nav li a {
  text-decoration: none;
  font-weight: 700;
  color: #FFFFFF;
}
#header nav li :hover {
  font-weight: bold;
  border-bottom: 3px solid #FFFFFF;
  font-weight: 700;
}
#header nav li :visited,
#header nav li :active,
#header nav li :focus {
  color: #FFFFFF;
}
#header #name-title {
  color: #FFFFFF;
}
#header #name-title h1 {
  font-size: 6rem;
  font-weight: 700;
}
#header #name-title h3 {
  font-size: 1.8rem;
  font-weight: 400;
}
#header #skip-link-container {
  color: #FFFFFF;
  font-size: 2rem;
  text-align: center;
}

#about {
  text-align: center;
  color: #000000;
}

#services {
  text-align: center;
  color: #163420;
}
#services .icon-container {
  font-size: 3.5rem;
}

#contact {
  color: #163420;
}
#contact .icon-container {
  font-size: 3.5rem;
}
#contact .icon-container a:visited {
  color: #163420;
}

footer {
  color: #A5F8F8;
}
footer h3 {
  font-size: 1.5rem;
}
footer h3 a {
  font-size: 1.5rem;
  text-decoration: none;
}
footer h3 :visited {
  color: #A5F8F8;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

html {
  scroll-behavior: smooth;
}

#header {
  background-color: #204a2e;
  border: 0.01px solid #204a2e;
  height: 90vh;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2rem;
}
#header .slide-nav {
  display: none;
}
#header #main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2rem;
}
#header #main-nav li {
  color: #FFFFFF;
  transition-duration: 0.2s;
  list-style-type: none;
}
#header #main-nav :hover {
  transform: scale(1.25);
  transition-duration: 0.2s;
}
#header #name-title {
  padding: 5rem 0;
  margin: 0 0 10rem 0;
  text-align: center;
}
#header #name-title h1 {
  padding-top: 2rem 0 0 0;
}
#header #name-title h3 {
  margin: -4rem 0 3rem 0;
}
#header #skip-link-container {
  bottom: 2rem;
  transition-duration: 0.2s;
}
#header #skip-link-container #skip-link {
  color: #FFFFFF;
  transition-duration: 0.2s;
  scroll-behavior: smooth;
}
#header #skip-link-container #skip-link i {
  transition-duration: 0.2s;
}
#header #skip-link-container #skip-link i:hover, #header #skip-link-container #skip-link i:focus, #header #skip-link-container #skip-link i:active {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

#about,
#services,
#contact {
  margin: 0 auto;
  padding: 2.5rem 0;
}

#about {
  background-color: #78c591;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 0 4rem 0;
}
#about #headshot-container {
  width: 15rem;
  margin: 4rem auto;
}
#about #headshot-container img {
  border-radius: 90%;
  width: 100%;
}

#services {
  background-color: #FFFFFF;
}
#services #service-list {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}
#services #service-list .service-item {
  width: 33.3333333333%;
}

#contact {
  background-color: #A5F8F8;
  text-align: center;
}
#contact #contact-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0;
}

footer {
  background-color: #204a2e;
  text-align: center;
  padding: 1rem 0;
  color: #FFFFFF;
}

@media (max-width: 955px) {
  #header #name-title {
    margin: 0 0 7.5rem 0;
  }
}
@media (max-width: 900px) {
  #services #service-list .service-item {
    width: 50%;
  }
}
@media (max-width: 600px) {
  #header #main-nav {
    display: none;
  }
  #header #slide-nav {
    display: block;
  }
  #header #slide-nav .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }
  #header #slide-nav .slide-nav {
    display: block;
    width: 100%;
  }
  #header #slide-nav .slide-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
  }
  #header #slide-nav .slide-nav .menu-items {
    display: flex;
  }
  #header #slide-nav .slide-nav .slide-nav-container li {
    list-style: none;
  }
  #header #slide-nav .slide-nav .slide-nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  #header #slide-nav .slide-nav .slide-nav-container a:hover {
    font-weight: 700;
  }
  #header #slide-nav .slide-nav-container {
    display: block;
    position: relative;
    height: 3rem;
  }
  #header #slide-nav .slide-nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  #header #slide-nav .slide-nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    /* padding-top: 2rem; */
  }
  #header #slide-nav .slide-nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  #header #slide-nav .slide-nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  #header #slide-nav .slide-nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  #header #slide-nav .slide-nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  #header #slide-nav .slide-nav .menu-items {
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  #header #slide-nav .slide-nav .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 400;
  }
  #header #slide-nav .slide-nav-container input[type=checkbox]:checked ~ .menu-items {
    transform: translateX(0);
  }
  #header #slide-nav .slide-nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  #header #slide-nav .slide-nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  #header #slide-nav .slide-nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  #header #slide-nav .slide-nav-container input[type=checkbox]:checked ~ .logo {
    display: none;
  }
  #header #name-title {
    margin: 0 0 9rem 0;
  }
  #header #name-title h1 {
    font-size: 4.75rem;
    margin-bottom: 4rem;
  }
  #services #service-list {
    flex-direction: column;
  }
  #services #service-list .service-item {
    width: 100%;
  }
  #contact #contact-list {
    flex-direction: column;
  }
}
@media (max-width: 450px) {
  #header #name-title h1 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}
@media (max-width: 380px) {
  #header #name-title h1 {
    font-size: 3.25rem;
    margin-bottom: 4.5rem;
  }
}
@media (max-height: 1110px) {
  #header #name-title {
    margin: 0 0 4rem 0;
  }
}/*# sourceMappingURL=styles.css.map */